.card_1 {
    display: flex;
    justify-content: space-between;  /* evenly space the boxes */
    flex-direction: row;
    gap: 10px; 
    margin-right: 60px;
}

.box {
  flex: 1;   /* equal width */
  max-width: 150px;  /* optional max width */
  position: relative;
}
.row_img{
   width: 120px;
    display: block;
}
.paragraph{
font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, 0%);
    z-index: 2;
}
.paragraph-2{
font-size: 10px;
    position: absolute;
    top: 50%;
    left: 20%;
    
    transform: translate(70%, 0%);
    z-index: 2;
}
.paragraph-3{
font-size: 10px;
    position: absolute;
    top: 50%;
    left: 60%;
    
    transform: translate(70%, 0%);
    z-index: 2;
}